@{
    Layout = null;
}
<div class="bjui-pageContent">
    <div>
        <table class="table table-condensed table-hover">
            <tr>
                <td>
                    <label class="control-label x150">姓名：</label>
                    <label class="control-label x150">张三</label>
                </td>

            </tr>
            <tr>
                <td>
                    <label class="control-label x150">手机：</label>
                    <label class="control-label x150">13121937621</label>
                </td>

            </tr>
            <tr>
                <td>
                    <label class="control-label x150">家庭住址：</label>
                    <label class="control-label x150">北京市朝阳区朝阳门</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label x150">爱好：</label>
                    <label class="control-label x150">coding</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label x150">性格：</label>
                    <label class="control-label x150">外向</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label x150">学历：</label>
                    <label class="control-label x150">大学本科</label>
                </td>
            </tr><tr>
    <td>
        <label class="control-label x150">性格：</label>
        <label class="control-label x150">外向</label>
    </td>
</tr>
            <tr>
                <td>
                    <label class="control-label x150">工作年限：</label>
                    <label class="control-label x150">10年</label>
                </td>
            </tr>
             
            <tr>
                <td>
                    <label class="control-label x150">性格：</label>
                    <label class="control-label x150">外向</label>
                </td>
            </tr><tr>
    <td>
        <label class="control-label x150">性格：</label>
        <label class="control-label x150">外向</label>
    </td>
</tr>
            <tr>
                <td>
                    <label class="control-label x150">学历：</label>
                    <label class="control-label x150">大学本科</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label x150">工作年限：</label>
                    <label class="control-label x150">10年</label>
                </td>
            </tr>
            
            <tr>
                <td>
                    <label class="control-label x150">性格：</label>
                    <label class="control-label x150">外向</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label x150">学历：</label>
                    <label class="control-label x150">大学本科</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label x150">工作年限：</label>
                    <label class="control-label x150">10年</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label x150">读过的书：</label>
                    <label> 《CLR Via c#》、《JavaScript 高级编程（第三版）》、《大话设计模式(带目录完整版)》等</label>
                </td>
            </tr>
        </table>
    </div>
</div>